# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Airflow
airflow_logs/
dags/__pycache__/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Others
*.log
*.zip
